@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

body {
    background-color: #f0ece3;
    text-align: center;
    padding: auto;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    color: #3b5766;
    margin: auto;
}

.hidden {
    display: none;
}

.container {
    margin: 2% 5%;
    background-color: #dfd3c3;
    border: soliid 5em #3b5766;
    border-radius: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.pokemon {
    background-color: #c7b198;
    border-radius: 10px;
    font-size: 1em;
    letter-spacing: 0.1em;
}

/* ////////////////// cards //////////////////  */

.card {
    display: grid;
    grid-template-rows: 200px 70px;

    border-radius: 18px;
    background: white;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
    font-family: roboto;

    transition: 0.5s ease;
    cursor: pointer;
    margin: 30px;

    width: 200px;
    margin: 25px auto;
}

.card-stats {
    display: grid;
    grid-template-columns: 1fr 2fr;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: #6e6e6e;
    color: white;
    text-shadow: #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px,
        #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px;
    -webkit-font-smoothing: antialiased;
}

.card-stats .types {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 3px;
    padding-left: 25px;
}

.card-stats .type {
    font-size: 10px;
    font-weight: 1000;
    text-transform: uppercase;
    border: 2px solid #242424;
    border-radius: 2em;
    padding: 2px 5px;
    width: 45px;
    height: 10px;
}
.card:hover {
    transform: scale(1.15);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}

.card-stats .name {
    font-weight: 800;
}

.loading {
    color: #978064;
    padding: 50px auto;
    font-size: 5em;
    font-weight: 1500;
    text-shadow: #3a3127 0px 0px 2px, #3a3127 0px 0px 2px, #3a3127 0px 0px 2px,
        #3a3127 0px 0px 2px, #3a3127 0px 0px 2px, #3a3127 0px 0px 2px;
    -webkit-font-smoothing: antialiased;
}

.loading-image {
    border: 10px solid #af9576;
    border-radius: 4px;
    padding: auto;
    margin: 50px auto;
}

.button {
    margin: auto;
    margin-bottom: 50px;
    border: 2px solid #3a3127;
    border-radius: 2em;
    color: #3a3127;
    font-size: 0.8em;
    letter-spacing: 0.1em;
    padding: 1em 2em;
    transition: none 500ms ease-out;
    transition-property: color, background;
    background: #dbc3a8;
    width: 100px;
    font-weight: 500;
}

.button:hover {
    border: 2px solid #3a3127;
    background: #b18b5e;
    color: #3a3127;
    opacity: 1;
}

.button:focus {
    outline: 0 !important;
}

/*/////////////////// types ///////////////////*/

.poison {
    background-color: #6e37b6;
}

.grass {
    background-color: #5fb42e;
}

.fire {
    background-color: #ff4800;
}

.water {
    background-color: #1d7fff;
}
.ice {
    background-color: #54d0e6;
}
.flying {
    background-color: #7ba6cf;
}
.bug {
    background-color: #b6d432;
}
.normal {
    background-color: #fff6c2;
}
.electric {
    background-color: #fffb00;
}
.ground {
    background-color: #b18b3a;
}
.fairy {
    background-color: #ffb3fb;
}
.fighting {
    background-color: #9b4600;
}
.psychic {
    background-color: #da63a4;
}
.rock {
    background-color: #996300;
}
.steel {
    background-color: #a0a0a0;
}
.ghost {
    background-color: #3f1b6d;
}
.dragon {
    background-color: #5800cc;
}
.dark {
    background-color: #352721;
}
